.game{
	display: flex;
	justify-content: space-around;
	&__board{
  	width: 500px;
 	  height: 500px;
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(10, 1fr);
		grid-gap: 1px;
		&-box{
			border: 1px solid black;
			width: 50px;
			height: 50px;
			&_blue{
				background-color: blue;
			}
		}
	}
	&__actions{
		width: 20%;
		height: 500px;
		border: 1px solid black;
		&-start{
			display: flex;
			justify-content: space-between;
		}
		&-btn{
			width: 45%;
			height: 50px;
			background-color: blueviolet;
		}
		&-timer{
			text-align: center;
			width: 45%;
			height: 50px;
			background-color: blueviolet;
		}
		&-score{
			margin-top: 50px;
			text-align: center;
			width: 100%;
			background-color: blueviolet;
		}
		&-reload{
			text-align: center;
			width: 40%;
			height: 50px;
			background-color: blueviolet;
		}
	}
}