.game{
	display: flex;
	justify-content: space-around;
	&__ower{
		font-size: 60px;
		color: red;
	}
	&__board{
  	width: 500px;
 	  height: 500px;
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(10, 1fr);
		grid-gap: 1px;
		&-box{
			border: 1px solid black;
			width: 50px;
			height: 50px;
			&_blue{
				background-color: blue;
			}
		}
	}
	&__actions{
		width: 20%;
		height: 500px;
		&-start{
			display: flex;
			justify-content: space-between;
		}
		&-btn{
			width: 45%;
			height: 50px;
			background-color: blueviolet;
		}
		&-timer{
			text-align: center;
			width: 45%;
			height: 50px;
			background-color: blueviolet;
		}
		&-score{
			margin-top: 50px;
			text-align: center;
			width: 100%;
			background-color: blueviolet;
		}
		&-reload{
			text-align: center;
			width: 100%;
			height: 50px;
			border: none;
			padding: 0 5px;
		}
	}
}

.popup {
	margin-top: 100px;
	margin-left: 50px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 16px 70px;
	position: absolute;
	z-index: 1;
}

.show {
	visibility: visible;
	animation: fadeIn 5s
}


@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}